@import '~common/css/variables';
@import '~common/css/mixins';

.loading {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate3d(0, -50%, 0);
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
